<p>single-vid works!</p>
<div>
    <div  class="container">
<app-nav-bar>
</app-nav-bar>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Video title {{ data.title }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">publisher: {{ data.publisher }}</li>
      <li class="list-group-item">producer: {{ data.producer }}</li>
      <li class="list-group-item">genre: {{ data.genre }}</li>
      <li class="list-group-item">age: {{ data.age }}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Review</a>
      <a href="#" class="card-link"></a>
    </div>
  </div>
  
  <button type="button" class="btn btn-primary">edit</button>

</div>
</div>