<div>
  <div class="container">

    <app-nav-bar>

    </app-nav-bar>

    <!--Header-->
    <div class="row align-items-start">
      <div class="col-2"></div>

      <div class="col-8" style="text-align: center;">
        <h3>Video Collection</h3>
      </div>

      <div class="col-2"></div>
    </div>
    <!-- view Asset Area-->
    <div class="row align-items-start">
      <div class="col-2"></div>

      <div class="col-8" style="text-align: left;">
        <div style="padding:5px;">
        </div>
        <div *ngIf="loading">
          <div class="spinner-border text-secondary" role="status" ng-show="loading">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div id="ImageList">
          <div class="container text-center">
            <div class="row">
              <div class="col" *ngFor="let video of data">
                <div class="card" style="width: 18rem;">
                  <video controls>
                    <source src="https://cloudvidblobstorage.blob.core.windows.net{{video.filepath}}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <div class="card-body">
                    <h5 class="card-title">Title: {{ video.title }}</h5>
                    <p class="card-text card-Description"> publisher: {{ video.publisher }}</p>
                    <p class="card-text card-Description">Producer : {{ video.producer }}</p>
                    <p class="card-text card-Description">genre : {{ video.genre }}</p>
                    <p class="card-text card-Description">age : {{ video.age }}</p>
                    <div class="card-footer text-muted reviews">
                      Film Review:
                      <div *ngFor="let review of video.review">
                        <div class="card">
                          <h5 class="card-header">{{review.userName}}</h5>
                          <div class="card-body">
                            <h5 class="card-title">Review</h5>
                            <p class="card-text">{{review.comment}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card" *ngIf="!isNotLogedin">
                      <h5 class="card-header">Add Review</h5>
                      <div class="card-body">
                        <h5 class="card-title">Enter your review</h5>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="submitReview.review"  >
                        </div>
                        <a (click)="postComment()"
                          *ngIf="!isNotLogedin && loginData.isAdmin == 'true'" class="btn btn-secondary">Post Comment</a>
                      </div>
                    </div>
                    <a (click)="delSingleVid(video.filepath.replace('/vidcloud856/', ''), video.id)"
                      *ngIf="!isNotLogedin && loginData.isAdmin == 'true'" class="btn btn-danger">delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>